/* ====================================================================================================================
start CSS reset
====================================================================================================================== */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  line-height: 1;
  font-size: 88%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

/*
end CSS reset
*/
/* =================================================================================================
Typography - limited rules expand on to a complete set as project grows
================================================================================================= */
body {
  font-family: "Open Sans";
  line-height: 1; }

p {
  margin: 0 0 1.375em 0;
  font-size: 1em;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #000000;
  line-height: 2; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

.tab {
  width: 50%; }

.tabs {
  padding: 0 10px; }

.tabs ul {
  z-index: 1;
  position: relative; }

.tab {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-bottom: 0;
  display: inline-block; }

.tab a {
  border-bottom: 1px solid #cccccc;
  display: block;
  padding: 10px;
  text-align: center; }
  .tab a:hover {
    text-decoration: none; }

.lot {
  position: absolute;
  right: 0; }

.tabSelected a {
  background-color: #8FB79D;
  border-bottom: 1px solid #71A583;
  color: white; }

.tabContent {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 0; }

.tab-base {
  padding-top: 0;
  padding-bottom: 0; }

/* ===================================================================================
Global styles
==================================================================================== */
body {
  background-color: white; }

/* header styles */
header {
  background: #F7F7F8;
  padding: 10px 10px; }

/* clearfix*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

p {
  text-align: center; }

/* For IE 6/7 (trigger hasLayout) */
header {
  zoom: 1; }

.logo img {
  width: 85px;
  height: 41px; }

.menu svg {
  height: 40px;
  width: 40px; }

.search-icon svg {
  height: 40px;
  width: 40px; }

/***************************
 primary nav styles
 ****************************/
.wrapper {
  background: #F7F7F8;
  width: 100%; }

.nav {
  width: 100%;
  position: relative; }

.nav ul {
  list-style: none;
  padding: 0;
  background: #F7F7F8;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: table; }

.nav li {
  display: table-cell; }

nav .menu {
  float: left;
  position: relative;
  left: 2px; }

.two-columns .view-all, .view-all {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom: 0;
  text-align: center;
  vertical-align: middle;
  line-height: inherit;
  background: none;
  width: 100%;
  height: 30px; }

/*******************************
secondary nav styles
********************************/
.secondary-nav {
  opacity: 1;
  width: 250px;
  -webkit-transition: opacity 1s, width 1s;
  transition: opacity 1s, width 1s;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  z-index: 2;
  overflow: hidden; }
  .secondary-nav ul {
    background: #cccccc;
    text-align: left;
    margin: 0 auto; }
    .secondary-nav ul a.close {
      font-size: 1.5em;
      text-align: right;
      border: none; }
      .secondary-nav ul a.close:hover {
        color: #ca1407; }
    .secondary-nav ul a .contact-us {
      text-align: left; }

.secondary-nav a {
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-bottom-width: 0.5px;
  color: gray;
  display: block;
  font-weight: 400;
  height: 3.6em;
  letter-spacing: 0.1em;
  line-height: 3.5em;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  position: relative;
  text-decoration: none; }
  .secondary-nav a:hover {
    color: #e6e6e6; }

a.contact-us {
  font-size: 12px;
  padding-bottom: 81px; }
  a.contact-us:hover {
    color: #666666; }

.secondary-nav li {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .secondary-nav li:hover {
    background-color: #b3b3b3; }
    .secondary-nav li:hover a.home {
      background-color: transparent; }
    .secondary-nav li:hover.home-base {
      background: none; }
  .secondary-nav li:last-child {
    border-bottom: none; }
    .secondary-nav li:last-child:hover {
      background: none;
      color: #666666; }
  .secondary-nav li:first-child:hover {
    background: none; }
  .secondary-nav li a.home {
    position: relative;
    top: -25px;
    border-bottom: none; }
    .secondary-nav li a.home img:hover {
      background: none; }

.menu-content {
  width: 250px;
  /*animated transition*/
  -webkit-transition: opacity 0.5s, width 0.5s;
  transition: opacity 0.5s, width 0.5s; }

.menu-hidden {
  width: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.5s;
  transition: opacity 0.5s, width 0.5s; }

.main {
  padding: 0 1em;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: auto;
  background-color: white; }

section div {
  padding: 1em 0; }

.nav,
.nested-columns,
.footer {
  background-color: white; }

.unnested {
  background-color: transparent; }

.two-columns {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
  display: inline;
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  zoom: 1;
  padding: 0; }
  .two-columns:before, .two-columns:after {
    content: "";
    display: table; }
  .two-columns:after {
    clear: both; }
  .two-columns > div {
    float: left;
    margin-right: 2%;
    box-sizing: border-box;
    height: 7em; }
  .two-columns div.left-column, .two-columns .right-column {
    background-color: white;
    height: 8em; }
    .two-columns div.left-column img.auction-logo, .two-columns .right-column img.auction-logo {
      height: 100px;
      width: 140px; }
    .two-columns div.left-column p, .two-columns .right-column p {
      margin-bottom: 0; }
  .two-columns .left-column {
    padding-top: 0;
    width: 49%; }
  .two-columns .right-column {
    padding-top: 0;
    width: 49%;
    margin-right: 0;
    float: left; }

.clothing, .electricals, .books, .ceramics, .watches, .toys, .paintings, .furniture, .stamps, .medals, .watches {
  height: 40px;
  width: 40px; }

.three-columns {
  padding-top: 0;
  margin-bottom: 1em; }
  .three-columns .start-cat {
    padding: 0;
    width: 100%; }
    .three-columns .start-cat > div {
      float: left;
      margin-right: 2%;
      box-sizing: border-box;
      height: 7em; }
    .three-columns .start-cat p {
      padding-top: 5px;
      height: 14px;
      color: #666666; }
    .three-columns .start-cat a:hover img {
      width: 50px;
      length: 50px;
      padding: 2px;
      background: transparent;
      z-index: 100; }
    .three-columns .start-cat div {
      height: 6em; }
  .three-columns .footer-font {
    font-size: 9px;
    color: #222222; }
  .three-columns div {
    background-color: #F7F7F8;
    width: 32%;
    margin-right: 2%;
    margin-top: 2%; }
    .three-columns div .first-column, .three-columns div .second-column, .three-columns div .fourth-column, .three-columns div .fifth-column, .three-columns div .seventh-column, .three-columns div .eighth-column {
      text-align: center;
      width: 32%;
      padding: 0; }
      .three-columns div .first-column > div, .three-columns div .second-column > div, .three-columns div .fourth-column > div, .three-columns div .fifth-column > div, .three-columns div .seventh-column > div, .three-columns div .eighth-column > div {
        float: left;
        margin-right: 2%;
        box-sizing: border-box;
        height: 7em; }
    .three-columns div .third-column, .three-columns div .sixth-column, .three-columns div .ninth-column {
      text-align: center;
      width: 32%;
      padding: 0;
      margin-right: 0;
      float: right; }
      .three-columns div .third-column > div, .three-columns div .sixth-column > div, .three-columns div .ninth-column > div {
        float: left;
        margin-right: 2%;
        box-sizing: border-box;
        height: 7em; }
  .three-columns .unested {
    width: 49%; }

.register-form, .testimonials, form, .footer {
  text-align: center;
  vertical-align: middle;
  line-height: inherit; }

/* Form styles*/
.register {
  margin-top: 10px;
  padding: 1em 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #cccccc; }
  .register .how-register {
    display: none; }

input {
  padding: 5px;
  width: 13.3em;
  border: solid 1px gray; }

.register-btn {
  width: 6em;
  background: #F77B22;
  color: white;
  border: none;
  padding: 4px 10px; }
  .register-btn:hover {
    background: #ED721A; }

a.register-btn {
  top: 0;
  position: relative; }

.submit {
  width: 6em;
  background: #8FB79D;
  color: white;
  border: none;
  padding: 4px 10px; }
  .submit:hover {
    text-decoration: none;
    background: #588969; }

.featured-auctions {
  font-size: 2em;
  color: #4d4d4d;
  margin-top: 11px;
  margin-bottom: 9px; }

.testimonials p {
  margin-top: 30px;
  margin-bottom: 40px; }

.clients {
  font-size: 2.5em;
  margin: 0 0 0.375em;
  color: #4d4d4d; }

/* Form styles end */
.register {
  padding-top: 20px;
  padding-bottom: 12px; }

/* footer */
.footer {
  color: white;
  height: 1em;
  content: "";
  font-style: italic;
  background: #999999;
  font-size: 10px; }

.site-index {
  display: none; }

.sitemap {
  background: #999999;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 14px; }

ul.sitemap-features li {
  display: inline;
  font-size: 11px;
  position: relative;
  padding: 10px; }
  ul.sitemap-features li a {
    color: #333333; }
    ul.sitemap-features li a:hover {
      color: #ca1407; }

.wrapper-footer {
  background: #999999;
  text-align: center; }

/*---------------------------------------------------------------------------------------------------------------------------*/
/* =====================================================================================================================
Break point 576px => 36 em
========================================================================================================================*/
@media screen and (min-width: 36em) {
  nav .search {
    float: right;
    position: relative; }
  .tab-base {
    padding-top: 0; }
  .register {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px; }
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px; } }

/* ==========================================
Break point 1000px => 62.5em
=============================================*/
@media screen and (min-width: 62.5em) {
  nav .menu {
    float: left;
    position: relative;
    cursor: default; }
  .tab-base {
    background: white;
    padding-top: 0; } }

/* =================================================================================
Break point styles start here 1em => 16px so this is 768px (tablet)
================================================================================= */
@media screen and (min-width: 48em) {
  body {
    background-color: #E8E7E7; }
  header {
    height: 3em; }
  .tab-base {
    background: white;
    padding-top: 0; }
  .categories {
    background-color: #e6e6e6;
    padding: 1em 0; }
  .container {
    background-color: #E8E7E7; }
  .two-columns,
  .start-promo,
  .three-columns
.nested-columns,
  .offset-columns
.unnested {
    width: 100%;
    max-width: 1000px;
    margin: 1em auto;
    zoom: 1;
    padding: 0; }
    .two-columns:before, .two-columns:after,
    .start-promo:before,
    .start-promo:after,
    .three-columns
.nested-columns:before,
    .three-columns
.nested-columns:after,
    .offset-columns
.unnested:before,
    .offset-columns
.unnested:after {
      content: "";
      display: table; }
    .two-columns:after,
    .start-promo:after,
    .three-columns
.nested-columns:after,
    .offset-columns
.unnested:after {
      clear: both; }
    .two-columns > div,
    .start-promo > div,
    .three-columns
.nested-columns > div,
    .offset-columns
.unnested > div {
      float: left;
      margin-right: 2%;
      box-sizing: border-box;
      height: 7em; }
  .nav {
    margin-bottom: 1em; }
  .start-promo {
    margin-top: 1em;
    padding: 0;
    width: 100%; }
    .start-promo > div {
      float: left;
      margin-right: 2%;
      box-sizing: border-box;
      height: 7em; }
  /* navigation styles*/
  body {
    position: relative;
    margin: auto; }
  .register {
    background-color: white; }
    .register .how-register {
      display: inline; }
    .register .prev-test {
      visibility: hidden; }
  .container-footer {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: auto; }
  .site-index {
    display: inline; } }

body, ul, li {
  margin: 0;
  padding: 0; }

.touchevents .carousel button {
  display: none; }

.carousel {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 0;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  .carousel button {
    font-size: 79px;
    font-size: 4.9375rem;
    user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    tap-highlight-color: transparent;
    touch-callout: none;
    background: none;
    border: none;
    color: #588969;
    left: 10px;
    margin-top: -18px;
    position: absolute;
    top: 35%;
    z-index: 99;
    display: none; }
    @media screen and (min-width: 36em) {
      .carousel button {
        display: inline; } }
  .carousel .next {
    left: auto;
    right: 10px; }
  .carousel .animate {
    -webkit-transition: all 300ms;
    transition: all 300ms; }
  .carousel img {
    user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    tap-highlight-color: transparent;
    touch-callout: none;
    font-size: 0;
    max-height: 350px;
    max-width: 350px;
    width: 100%; }
  .carousel .indicator-container {
    padding-top: 30px;
    width: 100%; }
  .carousel .indicator {
    background-color: #000;
    border: 1px solid #B7B7B7;
    border-radius: 7px;
    background-color: #B7B7B7;
    display: inline-block;
    font-size: 0;
    height: 6px;
    margin: 0 2px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    width: 6px; }
  .carousel .indicator::first-of-type {
    margin-left: 0; }
  .carousel .indicator-current {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #616161; }
  .carousel li {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    max-height: 480px;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: 100%; }

.touch .carousel button {
  display: none; }

.carousel__wrapper {
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  max-height: 480px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap; }
  .carousel__wrapper li.quotes {
    color: #333333; }

/* ==================================================================================================================================
Break point 576px => 36 em
======================================================================================================================================*/
@media screen and (min-width: 36em) {
  .carousel .indicator-container {
    padding-top: 60px;
    width: 100%; } }
