/* ===================================================================================
Global styles
==================================================================================== */

// set up body and container padding/widths/etc ===================================== /
body {
  background-color: $white;
}

/* header styles */
header {
  background: $brand-tertiary-lightest;
  padding: 10px 10px;
}

/* clearfix*/
.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}

.clearfix:after {
  clear:both;
}

.clearfix {
  *zoom: 1;
}
p {
  text-align: center;
}

/* For IE 6/7 (trigger hasLayout) */
header {
  zoom:1;
}

// bot logo
.logo  img {
  width: 85px;
    height: 41px;
}

// menu icon
.menu svg {
    height:40px;
    width: 40px;
}

.search-icon {
  // float: right;
  & svg {
    height:40px;
    width: 40px;
  }
}

/***************************
 primary nav styles
 ****************************/
.wrapper {
  background: $brand-tertiary-lightest;
  width: 100%;
}

.nav {
  width: 100%;
  position: relative;
}

.nav ul {
  list-style: none;
   padding: 0;
  background: $brand-tertiary-lightest;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: table;
  }

.nav li {
  display: table-cell;
}

nav .menu {
  float: left;
  position: relative;
  left: 2px;
}

.two-columns .view-all, .view-all {
  margin-top: 12px;
  padding-top: 6px;
  padding-bottom:0;
  @include centre;
  background: none;
  width: 100%;
  height: 30px;
}

/*******************************
secondary nav styles
********************************/
.secondary-nav {
  opacity: 1;
  width: 250px;
  transition: opacity 1s, width 1s;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  z-index: 2;
  overflow: hidden;
    & ul {
      background: $gray20;
      text-align: left;
      margin: 0 auto;
        & a.close {
          font-size: 1.5em;
          text-align: right;
            border: none;
            &:hover {
              color: $brand-secondary;
            }
        }
        & a .contact-us {
          text-align: left;
        }
    }
}

.secondary-nav a {
  border-bottom-style: solid;
  border-bottom-color: $gray40;
  border-bottom-width: 0.5px;
  color: $gray50;
  display: block;
  font-weight: 400;
  height: 3.6em;
  letter-spacing: 0.1em;
  line-height: 3.5em;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  position: relative;
  text-decoration: none;
  &:hover {
    color: $gray10;
  }
}

a.contact-us {
  font-size: 12px;
  padding-bottom: 81px;
    &:hover {
      color: $gray60;
    }
}

.secondary-nav li {
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $gray30;
    & a.home {
      background-color: transparent;
    }
    &.home-base {
      background: none;
    }
  }
  &:last-child {
    border-bottom: none;
    &:hover {
      background: none;
      color: $gray60;
    }
  }
  &:first-child:hover {
    background: none;
  }
  & a.home {
    position: relative;
    top: -25px;
    border-bottom: none;
    & img:hover {
      background: none;
    }
  }
}

.menu-content {

  width: 250px;
  /*animated transition*/
  transition: opacity 0.5s, width 0.5s;
}

 .menu-hidden {
  width: 0;
//  visibility: hidden;
   display: none;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}


.main { padding: 0 1em; margin: 0; }
.container {
  width: 100%;
  max-width: $max-width;
  margin: auto;
  padding: auto;
  background-color: $white
}
// do not use the row mixin for the container because the direct child selector will float /

section div {
  padding: 1em 0;

}
.nav,
.nested-columns,
.footer {
  background-color: $white;
 }

.unnested {
  background-color: transparent;;
}

// style row
.two-columns {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
  display: inline;
  @include row;
  & div.left-column, .right-column {
    background-color: white;
    height: 8em;
    & img.auction-logo {
      height: 100px;
      width: 140px;
    }
    & p {
      margin-bottom: 0;
    }
  }

  .left-column {
    padding-top: 0;
    width: 49%;
  }
  .right-column {
    padding-top: 0;
    width: 49%;
    @include last-2;
  }
}

.clothing, .electricals, .books, .ceramics, .watches, .toys, .paintings, .furniture, .stamps, .medals, .watches {
height: 40px;
  width: 40px;
}

.three-columns {
  padding-top: 0;
  margin-bottom: 1em;

  .start-cat {
    @include nesting;
    width: columns(6);
    & p {
      padding-top: 5px;
      height: 14px;
      color: $gray60;
    }
    a:hover img {
      width: 50px;
      length: 50px;
      padding: 2px;
      background: transparent;
      z-index: 100;
    }
    & div {
      height: 6em;
    }
  }

  .footer-font {
    font-size: 9px;
    color: $headings;
  }

  div {
    background-color: $brand-tertiary-lightest;
    width: columns(2, 6);
    margin-right: gutter(6); // declare vertical gutter with width of parent in columns as arg
    margin-top: gutter(6);  // added horizontal gutter with width of parent in columns as arg

    .first-column, .second-column, .fourth-column, .fifth-column, .seventh-column, .eighth-column {
      text-align: center;
      width:columns(2, 6); // declare width in columns
      @include nesting; // remove padding from parent container and float child elements

    }
    .third-column, .sixth-column, .ninth-column {
      text-align: center;
      width: columns(2, 6);
      @include nesting;
      @include last;
    }
  }

  .unested {
    width: columns(3)
  }
}

.register-form, .testimonials, form, .footer {
 @include centre; // include mixin to centre element contents
}

/* Form styles*/

.register {
  margin-top: 10px;
  padding: 1em 0;
  padding-right: 10px;
  padding-left: 10px;
  background-color: $gray20;
  & .how-register {
    display: none;
  }
}

input {
  padding: 5px;
  width: 13.3em;
  border: solid 1px $gray50;
}

.register-btn {
  width: 6em;
  background: $brand-secondary-alert;
  color: $white;
  border: none;
  padding: 4px 10px;
  &:hover {
    background: $brand-secondary-alert-dark;
  }
}

a.register-btn {
    top: 0;
    position: relative;
}

.submit {
  width: 6em;
  background: $brand-primary-lighter;
  color: $white;
  border: none;
  padding: 4px 10px;

  &:hover {
    text-decoration: none;
    background: $brand-primary-darker;
  }
}

.featured-auctions {
  font-size: 2em;
  color: $gray70;
  margin-top: 11px;
  margin-bottom: 9px;
}

.testimonials p {
  margin-top: 30px;
  margin-bottom: 40px;
}

.clients {
  font-size: 2.5em;
  margin: 0 0 0.375em;
  color: $gray70;
}
/* Form styles end */

.register {
  padding-top: 20px;
  padding-bottom: 12px;

}

/* footer */
.footer {
  color: $white;
  height: $vertical-measure *1;
  content:"";
  font-style: italic;
  background: $gray40;
  font-size: 10px;
}

.site-index {
  display: none;
}

.sitemap {
  background: $gray40;
  width: 100%;
  padding-top:12px;
  padding-bottom: 14px;
}

ul.sitemap-features li {
  display: inline;
  font-size: 11px;
  position: relative;
  padding: 10px;
  & a {
    color: $gray80;
  &:hover {
    color: $brand-secondary;
    }
  }
}

.wrapper-footer {
  background: $gray40;
  text-align: center;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

/* =====================================================================================================================
Break point 576px => 36 em
========================================================================================================================*/

@media screen and (min-width: 36em) {

  nav .search {
    float: right;
    position: relative;
   // right: 15px;
  }

  .tab-base {
    padding-top: 0;

  }
  .register {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


/* ==========================================
Break point 1000px => 62.5em
=============================================*/

@media screen and (min-width: 62.5em) {
  nav .search {
  //  right: 45px;
  }
  nav .menu {
    float: left;
    position: relative;
    cursor: default
  }

  .tab-base {
    background: $white;
    padding-top: 0;
  }
  .tabs {
   // padding: 0 120px;
  }

}


/* =================================================================================
Break point styles start here 1em => 16px so this is 768px (tablet)
================================================================================= */
@media screen and (min-width: 48em) {

  body {
    background-color: $brand-tertiary-lighter;
  }

  header {
    height: 3em;
  }

  .tab-base {
    background: $white;
    padding-top: 0;
  }
  .tabs {
   // padding: 0 120px;
  }

  .categories {
    // background: $white;
    background-color: $gray10;
    padding: 1em 0;
   }

  .container {
    background-color: $brand-tertiary-lighter
  }
// tell sections to act like rows for containing columns
  .two-columns,
  .start-promo,
  .three-columns
  .nested-columns,
  .offset-columns
  .unnested {
    @include row; // include row mixin
  }

  .nav { // attribute selector
    margin-bottom: $vertical-measure;
  }

  .start-promo {
    margin-top: 1em;
    @include nesting;
    width: columns(6);
  }
  /* navigation styles*/

  body {
    position: relative;
    margin: auto;
  }

  .register {
    background-color: $white;
    & .how-register {
      display: inline;
    }

    .prev-test {
      visibility: hidden;
    }
  }

  .container-footer {
    width: 100%;
    max-width: $max-width;
    margin: auto;
    padding: auto;
  }

  .site-index {
    display: inline;
  }
}







