.carousel {
    backface-visibility: hidden;
    font-size: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transform-style: preserve-3d;

    button {
        @include font-size(79);
        @include disable-selection;
        background:none;
        //font-size: 4em;
        border: none;
        color: $brand-primary-darker;
        left: 10px;
        margin-top: -18px;
        position: absolute;
        top: 35%;
        z-index: 99;
        display: none;
        & {
          @media screen and (min-width: 36em) {
            display: inline;
          }
        }
    }
    .next {
        left: auto;
        right: 10px;
    }
    .animate {
        transition: all 300ms;
    }
    img {
        @include disable-selection;
        font-size: 0;
        max-height: 350px;
        max-width: 350px;
        width: 100%;
    }
    .indicator-container {
        padding-top: 30px;
        width: 100%;
    }
    .indicator {
        background-color: #000;
        border: 1px solid #B7B7B7;
        border-radius: 7px;
        background-color: #B7B7B7;
        display: inline-block;
        font-size: 0;
        height: 6px;
        margin: 0 2px;
        transition: all 300ms;
        width: 6px;
    }
    .indicator::first-of-type {
        margin-left: 0;
    }
    .indicator-current {
        background-color: rgba(0,0,0,.6);
        border-color: #616161;
    }
    li {
        display: inline-block;
        font-size: 12px;
        margin: 0;
        max-height: 480px;
        padding: 0;
        transform: translate3d(0,0,0);
        transform-style: preserve-3d;
        width: 100%;
    }
}
.touch .carousel button {
    display: none;
}
.carousel__wrapper {
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    max-height: 480px;
    backface-visibility: hidden;
    white-space: nowrap;
  & li.quotes {
    color: $gray80;
  }
}

/* ==================================================================================================================================
Break point 576px => 36 em
======================================================================================================================================*/
@media screen and (min-width: 36em) {

  .carousel .indicator-container {
    padding-top: 60px;
    width: 100%;
  }

}